#pagehome {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 12%;
    text-align: left;
    margin-top: 100px;
}

#pagehome h1 {
    color: white;
    font-family: 'Roboto', sans-serif;
}

#pagehome button {
    height: 41px;
    border-radius: 23px 23px 23px 23px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: rgb(29, 161, 242);
    border: none;
    margin-top: 12%;
    transition: 400ms;
}
#pagehome button a{
    text-decoration: none;
    color:white;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    width: 100%;
}
#pagehome button:hover {
    background-color: rgb(20, 123, 187);
}

#pagehome button:focus {
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}

button:focus {
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}

.top {
    display: flex;
    align-items: center;
    flex: 1;
    flex-direction: column;
    font-size: 35px;
    margin-top: 2%;
}

.top i {
    color: rgb(29, 161, 242);
}

.footer {
    color: rgb(131, 147, 160);
    padding: 12%;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    margin-top: 23%;
}

.footer p a {
    color: rgb(29, 161, 242);
    text-decoration: none;
}